section {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  background-color: #4A148C;
  color: #F3E5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section i {
  flex: none;
}