<form>
  <ul>
    <li><label>联系人</label><input id="name" type="text" required [value]="addr?.contact" placeholder="姓名"/></li>
    <li><label>电话</label><input id="phone-number" type="text" required [value]="addr?.phoneNumber" placeholder="手机号码"/></li>
    <li><label>地址</label><input id="addr-name" type="text" required [value]="addr?.name" placeholder="选择地址"/></li>
    <li><label>门牌号</label><input id="addr-detailer" type="text" required [value]="addr?.detail" placeholder="例：5号楼203室"/></li>
    <li><label>标签</label><span class="tag" *ngIf="addr?.tag==home">家</span><span *ngIf="addr?.tag==company" class="tag">公司</span><span *ngIf="addr?.tag==school" class="tag">学校</span></li>
  </ul>
</form>
<button (click)="save()">保存</button>
