<ul>
  <li *ngFor="let user of (users$ | async)">
    <a routerLink="/detail/{{user.id}}">
      <span class="badge">{{user.id.substring(0, 7)}}</span>
    </a>
    <span>{{user.name}}</span>
    <i (click)="deleteUser(user)" class="material-icons" style="font-size: 3rem; color: #4A148C;">delete_forver</i>
  </li>
  <li class="add-new">
    <input #name placeholder="name"/>
    <i (click)="addUser(name.value); name.value='';" class="material-icons" style="font-size: 3rem; color: #4A148C;">add</i>
  </li>
</ul>
